{# src/FD/LivrederecettesBundle/Resources/views/ProductType/viewProductType.html.twig #}
{% extends "FDLivrederecettesBundle::layout.html.twig" %}
 
{% block title %}
    {{ parent() }} - Détail d'un type de produit
{% endblock %}
 
{% block fdalivrederecettes_body %}
 
  <h4>{{ productType.value }}</h4>
  
  <div class="well">
    {{ productType.description }}
  </div>
  
  <p>
    <a href="{{ path('livrederecettes_listProductTypes') }}" class="btn btn-default btn-sm">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('livrederecettes_modifyProductType', {'id': productType.id}) }}" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier le type de produit
    </a>
    <a href="{{ path('livrederecettes_deleteProductType', {'id': productType.id}) }}" class="btn btn-danger btn-sm">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer le type de produit
    </a>
  </p>
 
{% endblock %}
