{# src/FD/LivrederecettesBundle/Resources/views/Menu/formModMenu.html.twig #}

{# <div class="well"> #}
    <form class="well form-horizontal" method="post" {{ form_enctype(form) }}>
        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.title) }}
            </div>
            <div class="col-lg-8">
                {{ form_widget(form.title, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.title) }}
            </div>
        </div>  

        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.dated) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(form.dated, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.dated) }}
            </div>
        </div>  

        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.dateFrom) }}
             </div>
            <div class="col-lg-8">
                {# {{ form_widget(form.dateFrom, { 'attr' : {'class' : 'form-control'} }) }} #}
                {{ form_widget(form.dateFrom.year, { 'attr' : {'class' : 'form-control', 'style' : 'width:auto; display:inline'} }) }}
                {{ form_widget(form.dateFrom.day, { 'attr' : {'class' : 'form-control', 'style' : 'width:auto; display:inline'} }) }}
                {{ form_widget(form.dateFrom.month, { 'attr' : {'class' : 'form-control', 'style' : 'width:auto; display:inline'} }) }}
                {{ form_errors(form.dateFrom) }}
          </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.dateTo) }}
             </div>
            <div class="col-lg-8">
                {{ form_widget(form.dateTo.year, { 'attr' : {'class' : 'form-control', 'style' : 'width:auto; display:inline'} }) }}
                {{ form_widget(form.dateTo.day, { 'attr' : {'class' : 'form-control', 'style' : 'width:auto; display:inline'} }) }}
                {{ form_widget(form.dateTo.month, { 'attr' : {'class' : 'form-control', 'style' : 'width:auto; display:inline'} }) }}
                {{ form_errors(form.dateTo) }}
          </div>
        </div> 

        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.meals) }}
            </div>
            <div class="col-lg-8">
                {{ form_widget(form.meals) }}
                {{ form_errors(form.meals) }}
            </div>
        </div>

        {{ form_rest(form) }}

          {# Ajout d'un lien pour ajouter un repas supplémentaire. #}
        <div class="form-group">
            <div class="col-lg-5  control-label">
                <a href="#" id="add_meal" class="btn btn-success btn-sm">Ajouter un repas</a><br /><br />
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Modifier le menu"/>
        </div>
    </form>
{#</div>#}


<script type="text/javascript">
    
    $(document).ready(function(){
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse
            var $container = $('#fd_livrederecettesbundle_menutype_meals');
            
            // On enlève les label inutiles
            div_children = $container.children();
    
            for (var i=0; i < div_children.length; i++) {
                div_children.eq(i).children("label").remove();
                
                meal_div = div_children.eq(i).first().children();
                
                for (var j=0; j < meal_div.length; j++) {
                    meal_div.eq(j).children("div").addClass('form-group');
                    meal_div.eq(j).children("div").children("input").addClass('form-control');
                    meal_div.eq(j).children("div").children("select").addClass('form-control');
                    meal_div.eq(j).children("div").children("label").wrap('<div class="col-lg-3 control-label"></div>');
                    meal_div.eq(j).children("div").children("input").wrap('<div class="col-lg-5" style:width:auto; display:inline"></div>');
                    meal_div.eq(j).children("div").children("select").wrap('<div class="col-lg-5" style:width:auto; display:inline"></div>');
                }
            }
            
            // On ajoute les boutons "Supprimer" pour les ingrédients déjà existant
            for (var i=0; i < div_children.length; i++) {
                div_children.eq(i).append($('<div id="delete_meal_' + i +'" class="form-group"><div class="col-lg-3 control-label"><a href="#" class="btn btn-danger">Supprimer repas</a><br /><br /></div></div>'));
                
                $('#delete_meal_' + i).click(function() {
                    $(this).prev().remove(); // $(this).prev() est le template ajouté
                    $(this).remove(); // $(this) est le lien de suppression
                    return false;
                });
            }
            
            // On définit une fonction qui va ajouter un champ
            function add_meal() {
                // On définit le numéro du champ (en comptant le nombre de champs déjà ajoutés)
                index = $container.children().length;

                // On ajoute à la fin de la balise <div> le contenu de l'attribut « data-prototype »
                // Après avoir remplacé la variable __name__ qu'il contient par le numéro du champ
                var $sub_container = $container.attr('data-prototype').replace(/__name__label__/g, 'Label'+index);
                $sub_container = $sub_container.replace('<label class="required">Label' + index + '</label>', '');
                $sub_container = $sub_container.replace(/__name__/g, index);
                var $html = $.parseHTML($sub_container);
                
                //
                // Bootstrap 3 adaptations
                $('div#fd_livrederecettesbundle_menutype_meals_'+index+' div', $html).addClass('form-group');
                $('#fd_livrederecettesbundle_menutype_meals_'+index+' div input', $html).addClass('form-control');
                $('#fd_livrederecettesbundle_menutype_meals_'+index+' div select', $html).addClass('form-control');
                $('#fd_livrederecettesbundle_menutype_meals_'+index+' div label', $html).wrap('<div class="col-lg-3 control-label"></div>');
                $('#fd_livrederecettesbundle_menutype_meals_'+index+' div input', $html).wrap('<div class="col-lg-5" style:width:auto; display:inline"></div>');
                $('#fd_livrederecettesbundle_menutype_meals_'+index+' div select', $html).wrap('<div class="col-lg-5" style:width:auto; display:inline"></div>');
                
                $container.append($($html));
                
                // On ajoute également un bouton pour pouvoir supprimer l'ingredient
                $container.append($('<div id="delete_meal_' + index +'" class="form-group"><div class="col-lg-3 control-label"><a href="#" class="btn btn-danger btm-sm">Supprimer repas</a><br /><br /></div></div>'));

                // On supprime le champ à chaque clic sur le lien de suppression
                $('#delete_meal_' + index).click(function() {
                        $(this).prev().remove(); // $(this).prev() est le template ajouté
                        $(this).remove(); // $(this) est le lien de suppression
                        return false;
                });
            }

            // On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvelle recette par exemple)
            if($container.children().length === 0) {
                add_meal();
            }

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout
            $('#add_meal').click(
                function() {
                    add_meal();
                    return false;
                }
            );
        }
    );
</script>
