{# src/FD/LivrederecettesBundle/Resources/views/layout.html.twig #}
{% extends "::layout.html.twig" %}

{% block title %}
     {{ parent() }}
{% endblock %}
    
{% block body %}
        
    <!-- Contenu de la page -->
    <div class="body-content">

        <!-- DIV en grille pour le contenu -->
        <div class="row">

            <!-- Menu de gauche -->
            <div id="menu" class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Navigation</h4>
                    </div>
                    <div class="panel-body">
                        <!-- <div class="row">
                            <div class="col-md-1"><a class="btn btn-small btn-primary" href="{{ path('livrederecettes_homepage') }}">Accueil</a></div>
                            <div class="col-md-1"><i class="glyphicon glyphicon-play"></i></div>
                        </div> -->
                        <ul class="nav nav-pills nav-stacked">
                            <!-- <li><a  href="{{ path('livrederecettes_homepage') }}">Home</a></li> -->
                            <li><a href="{{ path('livrederecettes_homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('livrederecettes_listMenus') }}">Menus</a></li>
                            <li><a href="{{ path('livrederecettes_listRecipies') }}">Recettes</a></li>
                            <li><a href="{{ path('livrederecettes_listProducts') }}">Produits</a></li>
                            <li><a href="{{ path('livrederecettes_listUnits') }}">Unités de mesure</a></li>
                            <li><a href="{{ path('livrederecettes_listProductTypes') }}">Types de produit</a></li>
                            <li><a href="{{ path('livrederecettes_listMealTypes') }}">Types de repas</a></li>
                            <li class="divider"></li>
                        </ul>
                     </div>
                </div>
                {{ render(controller('FDLivrederecettesBundle:Livrederecettes:menu')) }}
            </div>

            <!-- Contenu en rapport avec la navigation et actions de l'utilisateur -->
            <div id="content" class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% block fdalivrederecettes_head %}
                        {% endblock %}
                    </div>
                    
                    <div class="panel-body">
                        <!-- Messages d'information ou erreur -->
                        {% for typeMessage, flashMessages in app.session.flashbag.all() %}
                            {% for flashMessage in flashMessages %}
                                <div class="alert alert-{{ typeMessage }}">
                                    {{ flashMessage|trans }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        <!-- Contenu proprement dit -->
                        {% block fdalivrederecettes_body %}
                        {% endblock %}
                    </div>
                 </div>
            </div>
        </div>

        <hr>

        <!-- Pied de page du contenu -->
        <footer>
            <p class="text-center"><small>Dalmasso productions © 2013 and beyond.</small></p>
        </footer>
    </div>
{% endblock %}

{% block javascriptsend %}
    
    {{ parent() }}
    
    <script>
        $(document).ready(function() {
            if ( $('a[href="' + this.location.pathname + '"]').length ) {
                $('a[href="' + this.location.pathname + '"]').addClass('current');
            }
        });
        
        // <i class="glyphicon glyphicon-play"></i>
    </script>
    
{% endblock %}