{# src/FD/LivrederecettesBundle/Resources/views/MealType/viewMealType.html.twig #}
{% extends "FDLivrederecettesBundle::layout.html.twig" %}
 
{% block title %}
    {{ parent() }} - Détail d'un type de repas
{% endblock %}

{% block fdalivrederecettes_head %}
    <h4 class="panel-title">{{ mealType.name }}</h4>
{% endblock %} 
    
{% block fdalivrederecettes_body %}  
  <p>
    <a href="{{ path('livrederecettes_listMealTypes') }}" class="btn btn-default btn-sm">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('livrederecettes_modifyMealType', {'id': mealType.id}) }}" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier le type de repas
    </a>
    <a href="{{ path('livrederecettes_deleteMealType', {'id': mealType.id}) }}" class="btn btn-danger btn-sm">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer le type de repas
    </a>
  </p>
 
{% endblock %}
