{# src/FD/LivrederecettesBundle/Resources/views/Product/formProduct.html.twig #}
 
{# Ici on laisse vide la vue pour l'instant, on la comblera plus tard lorsqu'on saura afficher un formulaire. #}
<div class="well">
    
  <form class="form-horizontal"  method="post" {{ form_enctype(form) }} >
      {{ form_start(form) }}
        <div class="form-group">
            <div class="col-lg-2 control-label">
                {{ form_label(form.name) }}
            </div>
            <div class="col-lg-5">
                {{ form_widget(form.name, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
          
        <div class="form-group">
            <div class="col-lg-2 control-label">
                {{ form_label(form.seasonStart) }}
            </div>
            <div class="col-lg-5">
                {{ form_widget(form.seasonStart.year, { 'attr': {'style': 'display:none'} }) }}
                {{ form_widget(form.seasonStart.day, { 'attr' : {'class' : 'form-control', 'style' : 'width:auto; display:inline'} }) }}
                {{ form_widget(form.seasonStart.month, { 'attr' : {'class' : 'form-control', 'style' : 'width:auto; display:inline'} }) }}
                {{ form_errors(form.seasonStart) }}
            </div>
        </div>
          
        <div class="form-group">
            <div class="col-lg-2 control-label">
                {{ form_label(form.seasonEnd) }}
            </div>
            <div class="col-lg-5">
                {{ form_widget(form.seasonEnd.year, { 'attr': {'style': 'display:none'} }) }}
                {{ form_widget(form.seasonEnd.day, { 'attr' : {'class' : 'form-control', 'style' : 'width:auto; display:inline'} }) }}
                {{ form_widget(form.seasonEnd.month, { 'attr' : {'class' : 'form-control', 'style' : 'width:auto; display:inline'} }) }}
                {{ form_errors(form.seasonEnd) }}
            </div>
        </div>
          
        <div class="form-group">
            <div class="col-lg-2 control-label">
                {{ form_label(form.productType) }}
            </div>
            <div class="col-lg-5">
                {{ form_widget(form.productType, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.productType) }}
            </div>
        </div>

        {{ form_widget(form._token) }}
          
        <div class="form-group">
            <div class="col-lg-1">
                {{ form_widget(form.save, { 'attr' : {'class' : 'btn btn-primary'} }) }}
            </div>
            <div class="col-lg-1">
                {% if product is null %}
                    <a href="{{ path(url_cancel) }}"><input type="button" class="btn btn-default" value="Annuler" /></a>
                {% else %}
                    <a href="{{ path(url_cancel, {'id': product.id}) }}"><input type="button" class="btn btn-default" value="Annuler" /></a>
                {% endif %}
            </div>
        </div
        
        {{ form_end(form) }}
        
  </form>
   
</div>
