{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Livre de recettes{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-glyphicons.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bundles/fdlivrederecettes/css/jquery-ui-1.10.4.min.css') }}" type="text/css" />
        {% endblock %}
        {% block javascripts %}
            {# Ajoutez ces javascripts si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
            <script type="text/javascript" src="{{ asset('bundles/fdlivrederecettes/js/jquery-1.11.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fdlivrederecettes/js/jquery-ui-1.10.4.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Livre de recettes</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                  <li><a href="#">Link</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li class="divider"></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Link</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        <!-- <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Project name</a>
              <div class="nav-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li class="nav-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                </ul>
                {#
                    <form class="navbar-form form-inline pull-right">
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <button type="submit" class="btn">Sign in</button>
                    </form>
                #}
              </div>
            </div>
        </div> -->
        
        <div class="container">
            
            <div class="jumbotron">
                <h1>On teste ^^</h1>
                <p>
                    Texte description 1
                </p>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a> |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans([], 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">Connexion</a>
                    <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                {% endif %}
            </div>
            
            <div class="body-content">
                <div class="row">
                    <div id="menu" class="col-lg-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="nav-header"><h4>Navigation</h4></li>
                            <li><a href="{{ path('livrederecettes_homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('livrederecettes_listMenus') }}">Menus</a></li>
                            <li><a href="{{ path('livrederecettes_listRecipies') }}">Recettes</a></li>
                            <li><a href="{{ path('livrederecettes_listProducts') }}">Produits</a></li>
                            <li><a href="{{ path('livrederecettes_listUnits') }}">Unités de mesure</a></li>
                            <li><a href="{{ path('livrederecettes_listProductTypes') }}">Types de produit</a></li>
                            <li><a href="{{ path('livrederecettes_listMealTypes') }}">Types de repas</a></li>
                            <li class="divider"></li>
                        </ul>
                        {{ render(controller('FDLivrederecettesBundle:Livrederecettes:menu')) }}
                    </div>

                    {% block body %}
                    {% endblock %}
                </div>

                <hr>
                <footer>
                    <p class="text-center"><small>Dalmasso productions © 2013 and beyond.</small></p>
                </footer>
            </div>
        </div>

        {% block javascriptsend %}
        {% endblock %}
    </body>
</html>
