{# src/FD/LivrederecettesBundle/Resources/views/Recipe/deleteRecipe.html.twig #}
{% extends "FDLivrederecettesBundle::layout.html.twig" %}
 
{% block title %}
    {{ parent() }} - Confirmer suppression de la recette
{% endblock %}

{% block fdalivrederecettes_body %}

    <p> Voulez-vous vraiment supprimer la recette "{{ recipe.title }}" ? </p>
    <p>
        <form action="{{ path('livrederecettes_deleteRecipe', {'id': recipe.id}) }}" method="post">
            <a href="{{ path('livrederecettes_viewRecipe', {'id': recipe.id}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour à la fiche de la recette
            </a>
            <input type="submit" value="Supprimer" class="btn btn-danger" />
            {{ form_rest(form) }}
        </form>    
    </p>

{% endblock %}
