{# src/FD/LivrederecettesBundle/Resources/views/Recipe/formModRecipe.html.twig #}


{# Ici on laisse vide la vue pour l'instant, on la comblera plus tard lorsqu'on saura afficher un formulaire. #}
{# <div class="well"> #}
    <form class="well form-horizontal" method="post" {{ form_enctype(form) }}>
        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.title) }}
            </div>
            <div class="col-lg-8">
                {{ form_widget(form.title, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.title) }}
            </div>
        </div>
            
        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.description) }}
            </div>
            <div class="col-lg-8">
                {{ form_widget(form.description, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.description) }}
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.difficulty) }}
            </div>
            <div class="col-lg-8">
                {{ form_widget(form.difficulty, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.difficulty) }}
            </div>
        </div>  

        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.preparation) }}
             </div>
            <div class="col-lg-8">       
                {{ form_widget(form.preparation, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.preparation) }}
          </div>
        </div>  

        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.ingredients) }}
            </div>
            <div class="col-lg-8">
                {{ form_widget(form.ingredients) }}
                {{ form_errors(form.ingredients) }}
            </div>
        </div>
            
        {{ form_rest(form) }}
        
        <div class="form-group">
            <div class="col-lg-5  control-label">
                <a href="#" id="add_ingredient" class="btn btn-success">Ajouter un ingredient</a><br /><br />
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Modifier la recette"/>
        </div>
    </form>
    

<script type="text/javascript">
    
    $(document).ready(function(){
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse
            var $container = $('#fd_livrederecettesbundle_recipetype_ingredients');
            
            // On enlève les label inutiles
            div_children = $container.children();
    
            for (var i=0; i < div_children.length; i++) {
                div_children.eq(i).children("label").remove();
                
                ingredient_div = div_children.eq(i).first().children();
                
                for (var j=0; j < ingredient_div.length; j++) {
                    ingredient_div.eq(j).children("div").addClass('form-group');
                    ingredient_div.eq(j).children("div").children("input").addClass('form-control');
                    ingredient_div.eq(j).children("div").children("select").addClass('form-control');
                    ingredient_div.eq(j).children("div").children("label").wrap('<div class="col-lg-3 control-label"></div>');
                    ingredient_div.eq(j).children("div").children("input").wrap('<div class="col-lg-5" style:width:auto; display:inline"></div>');
                    ingredient_div.eq(j).children("div").children("select").wrap('<div class="col-lg-5" style:width:auto; display:inline"></div>');
                }
            }
            
            // On ajoute les boutons "Supprimer" pour les ingrédients déjà existant
            for (var i=0; i < div_children.length; i++) {
                div_children.eq(i).append($('<div id="delete_ingredient_' + i +'" class="form-group"><div class="col-lg-3 control-label"><a href="#" class="btn btn-danger btn-sm">Supprimer ingredient</a><br /><br /></div></div>'));
                
                $('#delete_ingredient_' + i).click(function() {
                    $(this).prev().remove(); // $(this).prev() est le template ajouté
                    $(this).remove(); // $(this) est le lien de suppression
                    return false;
                });
            }
            
            // On définit une fonction qui va ajouter un champ
            function add_ingredient() {
                // On définit le numéro du champ (en comptant le nombre de champs déjà ajoutés)
                index = $container.children().length;

                // On ajoute à la fin de la balise <div> le contenu de l'attribut « data-prototype »
                // Après avoir remplacé la variable __name__ qu'il contient par le numéro du champ
                var $sub_container = $container.attr('data-prototype').replace(/__name__label__/g, 'Label'+index);
                $sub_container = $sub_container.replace('<label class="required">Label' + index + '</label>', '');
                $sub_container = $sub_container.replace(/__name__/g, index);
                var $html = $.parseHTML($sub_container);
                
                //
                // Bootstrap 3 adaptations
                $('div#fd_livrederecettesbundle_recipetype_ingredients_'+index+' div', $html).addClass('form-group');
                $('#fd_livrederecettesbundle_recipetype_ingredients_'+index+' div input', $html).addClass('form-control');
                $('#fd_livrederecettesbundle_recipetype_ingredients_'+index+' div select', $html).addClass('form-control');
                $('#fd_livrederecettesbundle_recipetype_ingredients_'+index+' div label', $html).wrap('<div class="col-lg-3 control-label"></div>');
                $('#fd_livrederecettesbundle_recipetype_ingredients_'+index+' div input', $html).wrap('<div class="col-lg-5" style:width:auto; display:inline"></div>');
                $('#fd_livrederecettesbundle_recipetype_ingredients_'+index+' div select', $html).wrap('<div class="col-lg-5" style:width:auto; display:inline"></div>');
                
                $container.append($($html));
                
                // On ajoute également un bouton pour pouvoir supprimer l'ingredient
                $container.append($('<div id="delete_ingredient_' + index +'" class="form-group"><div class="col-lg-3 control-label"><a href="#" class="btn btn-danger btn-sm">Supprimer ingredient</a><br /><br /></div></div>'));

                // On supprime le champ à chaque clic sur le lien de suppression
                $('#delete_ingredient_' + index).click(function() {
                        $(this).prev().remove(); // $(this).prev() est le template ajouté
                        $(this).remove(); // $(this) est le lien de suppression
                        return false;
                });
            }

            // On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvelle recette par exemple)
            if($container.children().length === 0) {
                add_ingredient();
            }

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout
            $('#add_ingredient').click(
                function() {
                    add_ingredient();
                    return false;
                }
            );
        }
    );
</script>