{# src/FD/LivrederecettesBundle/Resources/views/Recipe/viewRecipe.html.twig #}
{% extends "FDLivrederecettesBundle::layout.html.twig" %}
 
{% block title %}
    {{ parent() }} - Détail d'une recette
{% endblock %}
 
{% block fdalivrederecettes_body %}
 
  <h4>{{ recipe.title }}</h4>
  
  {% if recipe.document is empty %}
    <div>
        <h4> Pas d'image disponible </h4>
    </div>
  {% else %}
    <div>
        <img 
            src="{{ asset(recipe.document.webPath) }}"
            alt="{{ recipe.document.alt }}"
        />
    </div>
  {% endif %}
  
  <div class="well">
    {{ recipe.description }}
  </div>
  
  <div class="well">
    {{ recipe.difficulty }}
  </div>
  
  <table>
  {% for ingredient in ingredients %}
    <tr>
        <td>{{ ingredient.product.name }}</td>
        <td>{{ ingredient.quantity }}</td>
        <td>{{ ingredient.unit.value }}</td>
    </tr>
  {% endfor %}
  </table>
    
  <div class="well">
    {{ recipe.preparation|date('H:i') }}
  </div>
  
  <p>
    <a href="{{ path('livrederecettes_listRecipies') }}" class="btn btn-default btn-sm">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('livrederecettes_modifyRecipe', {'id': recipe.id}) }}" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier la recette
    </a>
    <a href="{{ path('livrederecettes_deleteRecipe', {'id': recipe.id}) }}" class="btn btn-danger btn-sm">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer la recette
    </a>
  </p>
 
{% endblock %}
