{# src/FD/LivrederecettesBundle/Resources/views/Unit/formUnit.html.twig #}
 
{# Ici on laisse vide la vue pour l'instant, on la comblera plus tard lorsqu'on saura afficher un formulaire. #}
<div class="well">
  <form class="form-horizontal" method="post" {{ form_enctype(form) }} >
        <div class="form-group">
            <div class="col-lg-2 control-label">
                {{ form_label(form.name) }}
            </div>
            <div class="col-lg-5">
                {{ form_widget(form.name, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
          
        <div class="form-group">
            <div class="col-lg-2 control-label">
                {{ form_label(form.value) }}
            </div>
            <div class="col-lg-5">
                {{ form_widget(form.value, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.value) }}
            </div>
        </div>
            
        {{ form_rest(form) }}
        
        <input type="submit" class="btn btn-primary" />
        {% if unit is null %}
            <a href="{{ path(url_cancel) }}"><input type="button" class="btn btn-default" value="Annuler" /></a>
        {% else %}
            <a href="{{ path(url_cancel, {'id': unit.id}) }}"><input type="button" class="btn btn-default" value="Annuler" /></a>
        {% endif %}
  </form>  
  
</div>
