{# src/FD/LivrederecettesBundle/Resources/views/Type/viewType.html.twig #}
{% extends "FDLivrederecettesBundle::layout.html.twig" %}
 
{% block title %}
    {{ parent() }} - Détail d'un type de produit
{% endblock %}
 
{% block fdalivrederecettes_body %}
 
  <h2>{{ type.value }}</h2>
  
  <div class="well">
    {{ type.description }}
  </div>
  
  <p>
    <a href="{{ path('livrederecettes_listTypes') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('livrederecettes_modifyType', {'id': type.id}) }}" class="btn">
      <i class="icon-edit"></i>
      Modifier le type de produit
    </a>
    <a href="{{ path('livrederecettes_deleteType', {'id': type.id}) }}" class="btn">
      <i class="icon-trash"></i>
      Supprimer le type de produit
    </a>
  </p>
 
{% endblock %}
